body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: red; /*red background */
    color: black; /*black text color */
    text-align: center;
    align-items: flex-start; /* Aligns content to the top */
    padding-top:20vh; *pushes it down by 20% of the screen height */
}
h1{
    margin-top: 50px;
    font-size: 17rem;
}
p{
    color: #5555;
    font-size:1.5rem;
}
@keyframes flash {
    0% {background-color: black;}
    50% {background-color: white;}
    100% {background-color: black;}
}
.flash-screen {
    animation: flash 0.125s infinite; /* Flash effect every 0.5 seconds */ 
}
/* Style the navigation menu */
nav {
    background-color: none; /* Menu background */
    padding: 50px 0; /* Add space around the menu */
}

nav ul {
    list-style-type: none; /* Remove bullet points */
    margin: 0;
    padding: 0;
    display: flex; /* Display menu items in a row */
    justify-content: center; /* Center menu items horizontally */
}

nav ul li {
    margin: 0 15px; /* Add space between menu items */
}

nav ul li a {
    text-decoration: none; /* Remove underlines */
    color: BLACK; /* White text for links */
    font-size: 17rem; /* Larger font size */
    font-family: Arial, sans-serif;
}

nav ul li a:hover {
    color: red; /* Change link color on hover */
}

